<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Girassol&family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <title>HOUSEPLANT HQ</title>
</head>
<body>
    <nav>
        <div>
            <a href="">HOME</a>
            <a href="/plants">MY PLANTS</a>
            <a href="/plants/new">ADD PLANT</a>
            <a href="">SHOP</a>
            <a href="/logout">LOG OUT</a>
        </div>
        

    </nav>
    <main>
        <h1><%= title %></h1>
