<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Shrikhand&display=swap" rel="stylesheet">
    <title>HOUSEPLANT HQ</title>
</head>
<body>
    <div id="title">
        <h1>HOUSEPLANT</h1>
        <h2>-HQ-</h2>
    </div>
    <div id="app-description">
        <h3>A HOUSEPLANT MARKETPLACE FOR BUYING, SELLING & TRADING LOCALLY</h3>
    </div>
    <nav>
            <a href="/plants">HOME</a>
            <% if (user) { %>
            <a href="">MY PLANTS</a>
            <a href="/plants/new">ADD PLANT</a>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
            <a href="/auth/google" id="login">LOG IN</a>
            <% } %> 
    </nav>
    <main>
        <h1><%= title %></h1>
