<%- include('partials/header') %>


    <div id="home-img">
        <img src="https://i.imgur.com/VLCNODC.jpg" alt="plants in window" id="home">
    </div>
   
    
<%- include('partials/footer') %>







