body {
  font-family: 14px 'Oswald', sans-serif;
  background-color: antiquewhite;
}

#title > h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 60px;
  color: rgba(34, 61, 9, 1);
  font-size: 60px;
  margin-bottom: 0;
}

#title > h2 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: rgba(34, 61, 9, 1);
  font-size: 30px;
  margin-top: -30px;
  padding-bottom: 15px;
}

a {
  color: rgba(34, 64, 9, .75);
  text-decoration: none;
}

h1 {
  text-align: center;
  color: rgba(34, 64, 9, 1);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 30px;
  font-size: 18px;
  padding: 5px;
  border-top: 1px solid rgba(34, 61, 9, .5);
  border-bottom: 1px solid rgba(34, 61, 9, .5);
}

#plant-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plant-img {
  width: 320px;
  height: 480px;
  border-radius: 2.5%;
  margin: 10px;
}

#plant-name {
  height: 60px;
  width: 100px;
  justify-content: center;
  font-family: 18px 'Oswald', sans-serif;;
}
