<%- include('../partials/header') %>

<h1><%= plant.name %></h1>
<div>
    <form action="/plants/<%= plant._id %>?_method=PUT" method="POST">
        <label>New Price</label>
        <input type="text" name="price">
        <label>Still Available?</label>
        <input type="checkbox" name="stillAvailable" checked>
        <input type="submit" value="Update Listing">
    </form>
</div>






<%- include('../partials/footer') %>

