<%- include('../partials/header') %>

<section id="new-plant-page">
    <div>
        <form action="/plants" method="POST" id="new-plant-form">
            <label>Plant Name</label>
            <input type="text" name="name" id="">
            <label>Photo</label>
            <input type="url" name="plantImg" id="" placeholder="Image URL">
            <label>Maintenance Level</label>
            <select name="maintenance" id="">
                <option value="low">Low</option>
                <option value="high">High</option>
            </select>
            <label>Sunlight Requirements</label>
            <select name="lightReq" id="">
                <option value="little">Low Light</option>
                <option value="moderate">Medium Light</option>
                <option value="direct">High Light</option>
            </select>
            <label>Watering Needs</label>
            <select name="waterReq" id="">
                <option value="infrequent">Infrequently</option>
                <option value="regular">Regularly</option>
            </select>
            <label>Pet Safe?</label>
            <input type="checkbox" name="petSafe" checked>
            <label>Location</label>
            <input type="text" name="location" placeholder="ex. Chicago, IL">
            <label>Price</label>
            <input type="number" name="price">
            <label>Still Available?</label>
            <input type="checkbox" name="stillAvailable" checked>
            <input type="submit" value="ADD PLANT" id="add-plant">
        </form>
    </div>
    
</section>






<%- include('../partials/footer') %>